.App{
  height: 500px;
  width: 50%;
  border: 2px solid palevioletred;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  /* z-index:450; */
}
.App>h2{
  background-color:green;
  padding: 20px;
}